{% extends 'base.html' %}
{% block title %} {{ game.title }} {% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1> {{ game.title }} </h1>
<small> Created by <b>{{ game.host.first_name }}</b>, at <b>{{ game.time_created }}</b> </small>
<br/> <br/>

Buy in: <b>${{ game.buy_in }}</b> <br/>
Blinds: <b>${{ game.blinds }}</b> <br/>
Starts at: <b>{{ game.time_start }} | {{ game.date_start }}</b> <br/> <br/>

Slots: <b>{{ game.slots }}</b> <br/>
Current Players: <i> {{ game.players.count}} </i> <br/>
{{ game.players.all }} <br/> <br/>

Private: <i> {{ game.private }} </i> <br/>
Description: <i> {{ game.description }} </i> <br/> 
<hr>

User: <br/>
- ID: <b>{{ request.user.id }}</b> <br/>
- Name: <b>{{ request.user }}</b> <br/>
Host: <br/>
- ID: <b>{{ game.host.id }}</b> <br/>
- Name: <b>{{ game.host }}</b> <br/>
Game: <br/>
- Primary Key: <b>{{ game.pk }}</b> <br/>
- UUID: <b>{{ game.unique_id }}</b> <br/>
<hr>

{% if request.user in game.players.all %}
    <button type = "button" class = "btn btn-success">Joined!</button>
{% else %}
  {% if game.slots <= game.players.count %}
    <button type = "button" class = "btn btn-danger">Full!</button>
  {% else %}
    <a href="{% url 'join-game' game.pk %}" class = "btn btn-secondary">Join Game</a>
  {% endif %}
{% endif %}

<a href = "{% url 'game-list' %}" class = "btn btn-secondary"> Back </a>
{% else %}
Oops! You don't have permission to access this link.
{% endif %}

{% endblock %}